body{
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;

 font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;

background-color: #DCE2C8;
height:100vh;
display: flex;
justify-content: center;
align-items: center;
}

h1 a{
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #F96900;
  text-align: center;
}

h1{
    text-align: center;
}