body{
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;

  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
background-image: url(../img/feed_background_final.png);
background-size:contain;
background-repeat:repeat;
}

p{
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;  
  color: #071E21
}

h1 {
    color: #F96900;
}

h1{
  text-align: center;
}

.page-layout{
  display: grid;
  justify-content: end;
  grid-template-columns: 300px 1fr;
 column-gap: 300px;
  padding:40px;
  justify-content: center;
}

.bio-box{
  position: sticky;
  top: 60px;
  height: 500px;
  background: #f26419;
  padding: 50px;
  border-radius:30px;
  border: 5px #86bbd8 solid;
  color: #33658a;
}

.bio-pic {
  width: 120px;
  height: 120px;
  object-fit: cover;   /* prevents distortion */
  border-radius: 50%;  /* makes it circular */
  margin-bottom: 5px;

}

.feed img,
.feed video {
  max-width:300px;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border: 5px solid #F96900;
  border-radius: 15px;

}

.post {
  background-color: #86bbd8;   /* change color */
  padding: 20px;
  border-radius: 40px;
  margin-bottom: 50px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.feed{
  text-align: center; 
    max-width: 600px;
}

.saturday {
  margin-bottom: 100px; 
}

.corner-star {
  position: fixed;
  bottom: 20px;   /* distance from bottom */
  right: 20px;    /* distance from right */
  width: 150px;
  height: 150px;    /* adjust size */
  z-index: 1000;  /* keeps it above everything */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.corner-star:hover {
  transform: scale(1.1) rotate(10deg);
}
