body{
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;

  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
background-image: url(../img/feed_background_final.png);
background-size:contain;
background-repeat:repeat;
}

p{
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;  
  color: #071E21
}

h1 {
    color: #F96900;
}

nav a{
    color:#F96900;
    text-decoration: none;
}

img{
    width: 300px;
    height: 550px;
}

video{
  width: 300px;
  height: 433px;
}

h1{
  text-align: center;
}

#animatedgif{
  width: 481px;
  height: 459px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.page-layout{
  display: grid;
  justify-content: end;
  grid-template-columns: 300px 1fr;
  gap: 100px;
  padding:40px;
}

.bio-box{
  position: sticky;
  top: 40px;
  height: 500px;
  background: #f26419;
  padding: 30px;
  border-radius:12px;
  border: 5px #86bbd8 solid;
  color: #33658a;
}

.bio-pic {
  width: 120px;
  height: 120px;
  object-fit: cover;   /* prevents distortion */
  border-radius: 50%;  /* makes it circular */
  margin-bottom: 5px;
}

.feed img,
.feed video {
  width:300px;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border: 5px solid #F96900;
  border-radius: 15px;

}

.feed{
  text-align: center; 
}

.saturday {
  margin-bottom: 100px; 
}

.corner-star {
  position: fixed;
  bottom: 20px;   /* distance from bottom */
  right: 20px;    /* distance from right */
  width: 150px;
  height: 150px;    /* adjust size */
  z-index: 1000;  /* keeps it above everything */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.corner-star:hover {
  transform: scale(1.1) rotate(10deg);
}
